.pallete-container {
  position: absolute;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  top: 100%;
  margin-top: 10px;
  margin-left: 2%;
  left: 0;
  border-radius: 4px;
  box-shadow: 0 0 3px 2px #eaeaea;
  background: white;
}
.twitter-picker input {
  transform: none;
}
.twitter-picker {
  box-shadow: none !important;
}

.stroke-width-container {
  display: flex;
  gap: 4px;
}
.stroke-width-container .stroke-width {
  background-color: #f2f2f7;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-self: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.stroke-width-container .font-size {
  background-color: #f2f2f7;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  font-family: Virgil, Arial, Helvetica, sans-serif;
}
.stroke-width-container .stroke-width svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.stroke-width-container .selected {
  background-color: white;
}
.pallete-container .roughness-container {
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pallete-container {
    top: -20px;
    transform: translatey(-100%);
    margin-left: 2%;
  }
}
