.App {
  position: relative;
  cursor: crosshair;
  /* z-index: 1; */
}
.App .input-container {
  position: absolute;
  z-index: 1000;
  border: none;
  font-family: Virgil, Arial, Helvetica, sans-serif;
  resize: none;
  overflow: hidden;
  background: transparent;
}

.App .input-container:focus {
  border: none;
  outline: none;
}
canvas.temp-canvas {
  z-index: 2;
}
canvas {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: "Virgil";
  src:
    local("Virgil"),
    url(../../fonts/Virgil.woff2) format("woff2");
}
