.App{
  position: relative;
  z-index: 1;
}
.App input{
  z-index: 99;
  transform: translatey(-50%);
  border: none;
}
.App input:focus{
  border: none;
  outline: none;
}
canvas.temp-canvas{
  z-index: 3;
}